* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homeapi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeapi__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*  background-color: red; */
}
