.vegge {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
