.foodDisplay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: yellow;
  margin-top: 3%;
}

.foodDisplay h1 {
  margin-bottom: 1.5%;
  font-size: 2.9rem;
  font-family: sans-serif;
}

.food__display_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: blue;
}

.food__display {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: red;
  border-radius: 0.5rem;
}

.display__imgcont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display__imgcont img {
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.display__actions {
  width: 99%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
}

.display__actions p {
  font-size: 22px;
  font-weight: 700;
}
