.searchNavber {
  height: 9.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px;
  text-align: center;
  border-radius: 0.1rem;
  outline: none;
  border: none;
}

.searchBtn {
  width: 90px;
  padding: 12px;
  border-radius: 0.1rem;
  outline: none;
  border: none;
  background-color: #e6c616ea;
}
